body {
    background-color: lightslategrey;
}

.game-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 9px;
}

#question-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    Margin: 20px 20px;
    padding: 5px;
    font-size: 60px;
    align-content: center;
}

.option-button {
    color: white;
    text-align: start;
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    width: 450px;
    height: 75px;
    border: 1px solid black;
    padding: 10px 24px;
    outline: none;
    font-size: 36px;
    cursor: pointer;
    display: block;
    background-color: #144E75;
    
    
}

.final-result {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    font-size: 48px;
    color: white;
}

.timer-header {
    display: none;
    color: white;
    font-size: 48px;
    transform: translateX(42%);
    align-items: center;

}

input[type=text] {
    padding: 8px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transform: translateY(-5px);
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    transform: translateY(-5px);
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); 
    font-size: 21px; 
    line-height: 21px; 
    padding: 10px; 
    border-radius: 5px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 3px solid rgb(28, 110, 164); 
    display: inline-block;
    cursor: pointer;
}
    .start-btn:hover {
    background: #1C6EA4; 
}

    .start-btn:active {
    background: #144E75; 
}




#title, #information {
    color: white;
    text-align: center;
}

#title {
    font-size: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -385px);
    text-decoration: underline overline;
    
}

#information {
    font-size: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -275px);
}

.info {
    display: block;
}

#score-board {
    display: none;
}
